In [20]:
import pandas as pd
import numpy as np

from sklearn.linear_model import LinearRegression
from sklearn.metrics import accuracy_score
from sklearn.model_selection import train_test_split
from sklearn.model_selection import cross_val_score

In [21]:
df = pd.read_csv('merged-train-data.csv')
df.head()

,Store,Dept,Weekly_Sales,IsHoliday,Temperature,Fuel_Price,CPI,Unemployment,Type,Size,Markdowns,Year,Month,Day
0,1,1,24924.50,False,42.31,2.572,211.096358,8.106,A,151315,0.0,2010,2,5
1,1,2,50605.27,False,42.31,2.572,211.096358,8.106,A,151315,0.0,2010,2,5
2,1,3,13740.12,False,42.31,2.572,211.096358,8.106,A,151315,0.0,2010,2,5
3,1,4,39954.04,False,42.31,2.572,211.096358,8.106,A,151315,0.0,2010,2,5
4,1,5,32229.38,False,42.31,2.572,211.096358,8.106,A,151315,0.0,2010,2,5

In [24]:
feat = ['Store','Dept','IsHoliday','Temperature','Fuel_Price','CPI','Unemployment','Size','Markdowns','Year','Month','Day']
X = df[feat]
y = df['Weekly_Sales']

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=2)

In [25]:
lin_reg = LinearRegression()
lin_reg.fit(X_train, y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=1, normalize=False)

In [27]:
print("Intercept: ", lin_reg.intercept_)

print("Coefficient: " , lin_reg.coef_)

Intercept:  1366427.6184769098
Coefficient:  [-8.73094172e+01  1.10841005e+02  7.05852062e+02  1.98428062e+01
  2.92467634e+02 -2.08583897e+01 -1.83231124e+02  8.58850479e-02
  3.79210892e-02 -6.77895285e+02  1.30091858e+02 -1.54005316e+01]