In [1]:
### Importing the required packages and libraries
# we will need numpy and pandas later
import numpy as np
import pandas as pd

#import LogisticRegression Class
from sklearn.linear_model import LogisticRegression
#import DecisionTreeClassifier class
from sklearn.tree import DecisionTreeClassifier
from sklearn.neighbors import KNeighborsClassifier
from sklearn.metrics import accuracy_score
# Randomly splitting the original dataset into training set and testing set
from sklearn.model_selection import train_test_split

In [2]:
# reading a CSV file directly from Web, and store it in a pandas DataFrame:
# "read_csv" is a pandas function to read csv files from web or local device:
walmart_features_df =  pd.read_csv('features.csv')

walmart_sampleSubmission_df =  pd.read_csv('sampleSubmission.csv')

walmart_stores_df =  pd.read_csv('stores.csv')

walmart_test_df =  pd.read_csv('test.csv')

walmart_train_df =  pd.read_csv('train.csv')

In [3]:
print("Feature Data Frame Info", walmart_features_df.info())

print("\n")

print("Store Data Frame Info", walmart_stores_df.info())

print("\n")

print("Test Data Frame Info",walmart_test_df.info())

print("\n")

print("Train Data Frame Info", walmart_train_df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8190 entries, 0 to 8189
Data columns (total 12 columns):
Store           8190 non-null int64
Date            8190 non-null object
Temperature     8190 non-null float64
Fuel_Price      8190 non-null float64
MarkDown1       4032 non-null float64
MarkDown2       2921 non-null float64
MarkDown3       3613 non-null float64
MarkDown4       3464 non-null float64
MarkDown5       4050 non-null float64
CPI             7605 non-null float64
Unemployment    7605 non-null float64
IsHoliday       8190 non-null bool
dtypes: bool(1), float64(9), int64(1), object(1)
memory usage: 711.9+ KB
Feature Data Frame Info None


<class 'pandas.core.frame.DataFrame'>
RangeIndex: 45 entries, 0 to 44
Data columns (total 3 columns):
Store    45 non-null int64
Type     45 non-null object
Size     45 non-null int64
dtypes: int64(2), object(1)
memory usage: 1.1+ KB
Store Data Frame Info None


<class 'pandas.core.frame.DataFrame'>
RangeIndex: 115064 entries, 0 to 115063
Data columns (total 4 columns):
Store        115064 non-null int64
Dept         115064 non-null int64
Date         115064 non-null object
IsHoliday    115064 non-null bool
dtypes: bool(1), int64(2), object(1)
memory usage: 2.7+ MB
Test Data Frame Info None


<class 'pandas.core.frame.DataFrame'>
RangeIndex: 421570 entries, 0 to 421569
Data columns (total 5 columns):
Store           421570 non-null int64
Dept            421570 non-null int64
Date            421570 non-null object
Weekly_Sales    421570 non-null float64
IsHoliday       421570 non-null bool
dtypes: bool(1), float64(1), int64(2), object(1)
memory usage: 13.3+ MB
Train Data Frame Info None

In [4]:
#replace all the nan values with 0, also inplace = true make is permanent
walmart_features_df.fillna(value=0, inplace=True)

In [5]:
#adding all the markdown sales and putting it in one column
walmart_features_df['Markdowns'] = walmart_features_df['MarkDown1'] + walmart_features_df['MarkDown2'] + walmart_features_df['MarkDown3'] + walmart_features_df['MarkDown4'] + walmart_features_df['MarkDown5']

In [6]:
#dropping the unncessary columns,
labelsToDrop = ['MarkDown1', 'MarkDown2', 'MarkDown3','MarkDown4','MarkDown5']
walmart_features_df.drop(labels=labelsToDrop,axis=1, inplace=True)

In [7]:
walmart_features_df.head()

,Store,Date,Temperature,Fuel_Price,CPI,Unemployment,IsHoliday,Markdowns
0,1,2010-02-05,42.31,2.572,211.096358,8.106,False,0.0
1,1,2010-02-12,38.51,2.548,211.242170,8.106,True,0.0
2,1,2010-02-19,39.93,2.514,211.289143,8.106,False,0.0
3,1,2010-02-26,46.63,2.561,211.319643,8.106,False,0.0
4,1,2010-03-05,46.50,2.625,211.350143,8.106,False,0.0

In [55]:
#merging datasets, joining walmart_Store_Df to features by the common column of store.
MergeFeatureAndStore_Df = pd.merge(walmart_features_df,
                 walmart_stores_df[['Store','Size']],
                 on='Store')

In [56]:
MergeFeatureAndStore_Df

,Store,Date,Temperature,Fuel_Price,CPI,Unemployment,IsHoliday,Markdowns,Size
0,1,2010-02-05,42.31,2.572,211.096358,8.106,False,0.00,151315
1,1,2010-02-12,38.51,2.548,211.242170,8.106,True,0.00,151315
2,1,2010-02-19,39.93,2.514,211.289143,8.106,False,0.00,151315
3,1,2010-02-26,46.63,2.561,211.319643,8.106,False,0.00,151315
4,1,2010-03-05,46.50,2.625,211.350143,8.106,False,0.00,151315
5,1,2010-03-12,57.79,2.667,211.380643,8.106,False,0.00,151315
6,1,2010-03-19,54.58,2.720,211.215635,8.106,False,0.00,151315
7,1,2010-03-26,51.45,2.732,211.018042,8.106,False,0.00,151315
8,1,2010-04-02,62.27,2.719,210.820450,7.808,False,0.00,151315
9,1,2010-04-09,65.86,2.770,210.622857,7.808,False,0.00,151315
10,1,2010-04-16,66.32,2.808,210.488700,7.808,False,0.00,151315
11,1,2010-04-23,64.84,2.795,210.439123,7.808,False,0.00,151315
12,1,2010-04-30,67.41,2.780,210.389546,7.808,False,0.00,151315
13,1,2010-05-07,72.55,2.835,210.339968,7.808,False,0.00,151315
14,1,2010-05-14,74.78,2.854,210.337426,7.808,False,0.00,151315
15,1,2010-05-21,76.44,2.826,210.617093,7.808,False,0.00,151315
16,1,2010-05-28,80.44,2.759,210.896761,7.808,False,0.00,151315
17,1,2010-06-04,80.69,2.705,211.176428,7.808,False,0.00,151315
18,1,2010-06-11,80.43,2.668,211.456095,7.808,False,0.00,151315
19,1,2010-06-18,84.11,2.637,211.453772,7.808,False,0.00,151315
20,1,2010-06-25,84.34,2.653,211.338653,7.808,False,0.00,151315
21,1,2010-07-02,80.91,2.669,211.223533,7.787,False,0.00,151315
22,1,2010-07-09,80.48,2.642,211.108414,7.787,False,0.00,151315
23,1,2010-07-16,83.15,2.623,211.100385,7.787,False,0.00,151315
24,1,2010-07-23,83.36,2.608,211.235144,7.787,False,0.00,151315
25,1,2010-07-30,81.84,2.640,211.369903,7.787,False,0.00,151315
26,1,2010-08-06,87.16,2.627,211.504662,7.787,False,0.00,151315
27,1,2010-08-13,87.00,2.692,211.639421,7.787,False,0.00,151315
28,1,2010-08-20,86.65,2.664,211.603363,7.787,False,0.00,151315
29,1,2010-08-27,85.22,2.619,211.567306,7.787,False,0.00,151315
...,...,...,...,...,...,...,...,...,...
8160,45,2013-01-04,32.87,3.592,192.659622,8.625,False,35393.42,118221
8161,45,2013-01-11,38.78,3.611,192.759980,8.625,False,21996.34,118221
8162,45,2013-01-18,41.45,3.605,192.809507,8.625,False,20772.54,118221
8163,45,2013-01-25,26.49,3.583,192.838701,8.625,False,6187.00,118221
8164,45,2013-02-01,34.92,3.615,192.867895,8.625,False,43554.34,118221
8165,45,2013-02-08,28.99,3.753,192.897089,8.625,True,81978.85,118221
8166,45,2013-02-15,35.87,3.814,192.943471,8.625,False,22804.16,118221
8167,45,2013-02-22,31.48,3.859,193.032822,8.625,False,18118.53,118221
8168,45,2013-03-01,39.72,3.890,193.122173,8.625,False,8464.24,118221
8169,45,2013-03-08,36.13,3.860,193.211524,8.625,False,23089.66,118221
8170,45,2013-03-15,42.81,3.834,193.296277,8.625,False,12151.34,118221
8171,45,2013-03-22,36.55,3.800,193.369533,8.625,False,15643.52,118221
8172,45,2013-03-29,40.68,3.784,193.442790,8.625,False,7570.85,118221
8173,45,2013-04-05,43.94,3.763,193.516047,8.335,False,25218.75,118221
8174,45,2013-04-12,57.39,3.724,193.589304,8.335,False,13177.39,118221
8175,45,2013-04-19,56.27,3.676,193.589304,8.335,False,2989.96,118221
8176,45,2013-04-26,50.64,3.615,193.589304,8.335,False,3834.86,118221
8177,45,2013-05-03,56.07,3.592,0.000000,0.000,False,14266.92,118221
8178,45,2013-05-10,58.86,3.583,0.000000,0.000,False,11296.51,118221
8179,45,2013-05-17,60.59,3.614,0.000000,0.000,False,8253.67,118221
8180,45,2013-05-24,67.11,3.627,0.000000,0.000,False,6282.17,118221
8181,45,2013-05-31,65.88,3.646,0.000000,0.000,False,11199.58,118221
8182,45,2013-06-07,70.71,3.633,0.000000,0.000,False,19225.16,118221
8183,45,2013-06-14,70.01,3.632,0.000000,0.000,False,9409.57,118221
8184,45,2013-06-21,70.13,3.626,0.000000,0.000,False,11134.57,118221
8185,45,2013-06-28,76.05,3.639,0.000000,0.000,False,11439.98,118221
8186,45,2013-07-05,77.50,3.614,0.000000,0.000,False,19254.20,118221
8187,45,2013-07-12,79.37,3.614,0.000000,0.000,False,8598.17,118221
8188,45,2013-07-19,82.84,3.737,0.000000,0.000,False,5635.21,118221
8189,45,2013-07-26,76.06,3.804,0.000000,0.000,False,2941.26,118221

In [62]:
#merging train dataset
Merged_Train_Features_Store_Df = pd.merge(MergeFeatureAndStore_Df, walmart_train_df[['Date','Dept','Weekly_Sales']], on='Date')

In [63]:
Merged_Train_Features_Store_Df.head()

,Store,Date,Temperature,Fuel_Price,CPI,Unemployment,IsHoliday,Markdowns,Size,Dept,Weekly_Sales
0,1,2010-02-05,42.31,2.572,211.096358,8.106,False,0.0,151315,1,24924.50
1,1,2010-02-05,42.31,2.572,211.096358,8.106,False,0.0,151315,2,50605.27
2,1,2010-02-05,42.31,2.572,211.096358,8.106,False,0.0,151315,3,13740.12
3,1,2010-02-05,42.31,2.572,211.096358,8.106,False,0.0,151315,4,39954.04
4,1,2010-02-05,42.31,2.572,211.096358,8.106,False,0.0,151315,5,32229.38

In [64]:
Merged_Train_Features_Store_Df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 18970650 entries, 0 to 18970649
Data columns (total 11 columns):
Store           int64
Date            object
Temperature     float64
Fuel_Price      float64
CPI             float64
Unemployment    float64
IsHoliday       bool
Markdowns       float64
Size            int64
Dept            int64
Weekly_Sales    float64
dtypes: bool(1), float64(6), int64(3), object(1)
memory usage: 1.6+ GB

In [60]:
Merged_Train_Features_Store_Df

,Store,Date,Temperature,Fuel_Price,CPI,Unemployment,IsHoliday,Markdowns,Size,Weekly_Sales
0,1,2010-02-05,42.31,2.572,211.096358,8.106,False,0.00,151315,24924.50
1,1,2010-02-05,42.31,2.572,211.096358,8.106,False,0.00,151315,50605.27
2,1,2010-02-05,42.31,2.572,211.096358,8.106,False,0.00,151315,13740.12
3,1,2010-02-05,42.31,2.572,211.096358,8.106,False,0.00,151315,39954.04
4,1,2010-02-05,42.31,2.572,211.096358,8.106,False,0.00,151315,32229.38
5,1,2010-02-05,42.31,2.572,211.096358,8.106,False,0.00,151315,5749.03
6,1,2010-02-05,42.31,2.572,211.096358,8.106,False,0.00,151315,21084.08
7,1,2010-02-05,42.31,2.572,211.096358,8.106,False,0.00,151315,40129.01
8,1,2010-02-05,42.31,2.572,211.096358,8.106,False,0.00,151315,16930.99
9,1,2010-02-05,42.31,2.572,211.096358,8.106,False,0.00,151315,30721.50
10,1,2010-02-05,42.31,2.572,211.096358,8.106,False,0.00,151315,24213.18
11,1,2010-02-05,42.31,2.572,211.096358,8.106,False,0.00,151315,8449.54
12,1,2010-02-05,42.31,2.572,211.096358,8.106,False,0.00,151315,41969.29
13,1,2010-02-05,42.31,2.572,211.096358,8.106,False,0.00,151315,19466.91
14,1,2010-02-05,42.31,2.572,211.096358,8.106,False,0.00,151315,10217.55
15,1,2010-02-05,42.31,2.572,211.096358,8.106,False,0.00,151315,13223.76
16,1,2010-02-05,42.31,2.572,211.096358,8.106,False,0.00,151315,4729.50
17,1,2010-02-05,42.31,2.572,211.096358,8.106,False,0.00,151315,1947.05
18,1,2010-02-05,42.31,2.572,211.096358,8.106,False,0.00,151315,5034.10
19,1,2010-02-05,42.31,2.572,211.096358,8.106,False,0.00,151315,8907.63
20,1,2010-02-05,42.31,2.572,211.096358,8.106,False,0.00,151315,13623.98
21,1,2010-02-05,42.31,2.572,211.096358,8.106,False,0.00,151315,24146.49
22,1,2010-02-05,42.31,2.572,211.096358,8.106,False,0.00,151315,8272.90
23,1,2010-02-05,42.31,2.572,211.096358,8.106,False,0.00,151315,11609.50
24,1,2010-02-05,42.31,2.572,211.096358,8.106,False,0.00,151315,11737.12
25,1,2010-02-05,42.31,2.572,211.096358,8.106,False,0.00,151315,2293.00
26,1,2010-02-05,42.31,2.572,211.096358,8.106,False,0.00,151315,1085.29
27,1,2010-02-05,42.31,2.572,211.096358,8.106,False,0.00,151315,7024.95
28,1,2010-02-05,42.31,2.572,211.096358,8.106,False,0.00,151315,5491.00
29,1,2010-02-05,42.31,2.572,211.096358,8.106,False,0.00,151315,3455.92
...,...,...,...,...,...,...,...,...,...,...
18970620,45,2012-10-26,58.85,3.882,192.308899,8.667,False,5247.26,118221,1954.67
18970621,45,2012-10-26,58.85,3.882,192.308899,8.667,False,5247.26,118221,4894.78
18970622,45,2012-10-26,58.85,3.882,192.308899,8.667,False,5247.26,118221,3144.09
18970623,45,2012-10-26,58.85,3.882,192.308899,8.667,False,5247.26,118221,13329.25
18970624,45,2012-10-26,58.85,3.882,192.308899,8.667,False,5247.26,118221,1104.16
18970625,45,2012-10-26,58.85,3.882,192.308899,8.667,False,5247.26,118221,23.92
18970626,45,2012-10-26,58.85,3.882,192.308899,8.667,False,5247.26,118221,3458.17
18970627,45,2012-10-26,58.85,3.882,192.308899,8.667,False,5247.26,118221,937.72
18970628,45,2012-10-26,58.85,3.882,192.308899,8.667,False,5247.26,118221,275.00
18970629,45,2012-10-26,58.85,3.882,192.308899,8.667,False,5247.26,118221,191.98
18970630,45,2012-10-26,58.85,3.882,192.308899,8.667,False,5247.26,118221,117.00
18970631,45,2012-10-26,58.85,3.882,192.308899,8.667,False,5247.26,118221,5772.09
18970632,45,2012-10-26,58.85,3.882,192.308899,8.667,False,5247.26,118221,2789.38
18970633,45,2012-10-26,58.85,3.882,192.308899,8.667,False,5247.26,118221,33366.60
18970634,45,2012-10-26,58.85,3.882,192.308899,8.667,False,5247.26,118221,9814.88
18970635,45,2012-10-26,58.85,3.882,192.308899,8.667,False,5247.26,118221,14618.60
18970636,45,2012-10-26,58.85,3.882,192.308899,8.667,False,5247.26,118221,670.88
18970637,45,2012-10-26,58.85,3.882,192.308899,8.667,False,5247.26,118221,14693.09
18970638,45,2012-10-26,58.85,3.882,192.308899,8.667,False,5247.26,118221,17360.33
18970639,45,2012-10-26,58.85,3.882,192.308899,8.667,False,5247.26,118221,717.82
18970640,45,2012-10-26,58.85,3.882,192.308899,8.667,False,5247.26,118221,1689.10
18970641,45,2012-10-26,58.85,3.882,192.308899,8.667,False,5247.26,118221,8187.66
18970642,45,2012-10-26,58.85,3.882,192.308899,8.667,False,5247.26,118221,25352.32
18970643,45,2012-10-26,58.85,3.882,192.308899,8.667,False,5247.26,118221,16330.84
18970644,45,2012-10-26,58.85,3.882,192.308899,8.667,False,5247.26,118221,54608.75
18970645,45,2012-10-26,58.85,3.882,192.308899,8.667,False,5247.26,118221,2487.80
18970646,45,2012-10-26,58.85,3.882,192.308899,8.667,False,5247.26,118221,5203.31
18970647,45,2012-10-26,58.85,3.882,192.308899,8.667,False,5247.26,118221,56017.47
18970648,45,2012-10-26,58.85,3.882,192.308899,8.667,False,5247.26,118221,6817.48
18970649,45,2012-10-26,58.85,3.882,192.308899,8.667,False,5247.26,118221,1076.80

In [61]:
walmart_train_df

        Store  Dept        Date  Weekly_Sales  IsHoliday
0           1     1  2010-02-05      24924.50      False
1           1     1  2010-02-12      46039.49       True
2           1     1  2010-02-19      41595.55      False
3           1     1  2010-02-26      19403.54      False
4           1     1  2010-03-05      21827.90      False
5           1     1  2010-03-12      21043.39      False
6           1     1  2010-03-19      22136.64      False
7           1     1  2010-03-26      26229.21      False
8           1     1  2010-04-02      57258.43      False
9           1     1  2010-04-09      42960.91      False
10          1     1  2010-04-16      17596.96      False
11          1     1  2010-04-23      16145.35      False
12          1     1  2010-04-30      16555.11      False
13          1     1  2010-05-07      17413.94      False
14          1     1  2010-05-14      18926.74      False
15          1     1  2010-05-21      14773.04      False
16          1     1  2010-05-28      15580.43      False
17          1     1  2010-06-04      17558.09      False
18          1     1  2010-06-11      16637.62      False
19          1     1  2010-06-18      16216.27      False
20          1     1  2010-06-25      16328.72      False
21          1     1  2010-07-02      16333.14      False
22          1     1  2010-07-09      17688.76      False
23          1     1  2010-07-16      17150.84      False
24          1     1  2010-07-23      15360.45      False
25          1     1  2010-07-30      15381.82      False
26          1     1  2010-08-06      17508.41      False
27          1     1  2010-08-13      15536.40      False
28          1     1  2010-08-20      15740.13      False
29          1     1  2010-08-27      15793.87      False
...       ...   ...         ...           ...        ...
421540     45    98  2012-04-06        778.70      False
421541     45    98  2012-04-13        559.14      False
421542     45    98  2012-04-20        605.80      False
421543     45    98  2012-04-27        619.41      False
421544     45    98  2012-05-04        694.25      False
421545     45    98  2012-05-11        893.60      False
421546     45    98  2012-05-18        745.44      False
421547     45    98  2012-05-25        795.94      False
421548     45    98  2012-06-01        874.64      False
421549     45    98  2012-06-08        713.50      False
421550     45    98  2012-06-15        856.35      False
421551     45    98  2012-06-22        622.62      False
421552     45    98  2012-06-29        690.52      False
421553     45    98  2012-07-06        659.65      False
421554     45    98  2012-07-13        695.21      False
421555     45    98  2012-07-20        845.30      False
421556     45    98  2012-07-27        657.63      False
421557     45    98  2012-08-03        516.46      False
421558     45    98  2012-08-10        727.49      False
421559     45    98  2012-08-17        500.16      False
421560     45    98  2012-08-24        415.40      False
421561     45    98  2012-08-31        346.04      False
421562     45    98  2012-09-07        352.44       True
421563     45    98  2012-09-14        605.96      False
421564     45    98  2012-09-21        467.30      False
421565     45    98  2012-09-28        508.37      False
421566     45    98  2012-10-05        628.10      False
421567     45    98  2012-10-12       1061.02      False
421568     45    98  2012-10-19        760.01      False
421569     45    98  2012-10-26       1076.80      False

[421570 rows x 5 columns]