In [1]:
### Importing the required packages and libraries
# we will need numpy and pandas later
import numpy as np
import pandas as pd

#import LogisticRegression Class
from sklearn.linear_model import LogisticRegression
#import DecisionTreeClassifier class
from sklearn.tree import DecisionTreeClassifier
from sklearn.neighbors import KNeighborsClassifier
from sklearn.metrics import accuracy_score
# Randomly splitting the original dataset into training set and testing set
from sklearn.model_selection import train_test_split

In [2]:
# reading a CSV file directly from Web, and store it in a pandas DataFrame:
# "read_csv" is a pandas function to read csv files from web or local device:
walmart_features_df =  pd.read_csv('features.csv')

walmart_sampleSubmission_df =  pd.read_csv('sampleSubmission.csv')

walmart_stores_df =  pd.read_csv('stores.csv')

walmart_test_df =  pd.read_csv('test.csv')

walmart_train_df =  pd.read_csv('train.csv')

In [3]:
walmart_features_df.fillna(value=0, inplace=True)

#adding all the markdown sales and putting it in one column
walmart_features_df['Markdowns'] = walmart_features_df['MarkDown1'] + walmart_features_df['MarkDown2'] + walmart_features_df['MarkDown3'] + walmart_features_df['MarkDown4'] + walmart_features_df['MarkDown5'] 

labelsToDrop = ['MarkDown1', 'MarkDown2', 'MarkDown3','MarkDown4','MarkDown5']
walmart_features_df.drop(labels=labelsToDrop,axis=1, inplace=True)

In [4]:
#merging datasets, joining walmart_Store_Df to features by the common column of store.
MergeFeatureAndStore_Df = pd.merge(walmart_features_df,
                 walmart_stores_df[['Store','Size']],
                 on='Store')

MergeFeatureAndStore_Df.head()

,Store,Date,Temperature,Fuel_Price,CPI,Unemployment,IsHoliday,Markdowns,Size
0,1,2010-02-05,42.31,2.572,211.096358,8.106,False,0.0,151315
1,1,2010-02-12,38.51,2.548,211.242170,8.106,True,0.0,151315
2,1,2010-02-19,39.93,2.514,211.289143,8.106,False,0.0,151315
3,1,2010-02-26,46.63,2.561,211.319643,8.106,False,0.0,151315
4,1,2010-03-05,46.50,2.625,211.350143,8.106,False,0.0,151315

In [5]:
#merging train dataset
Merged_Train_Features_Store_Df = pd.merge(MergeFeatureAndStore_Df, walmart_train_df[['Date','Dept','Weekly_Sales']], on='Date')
Merged_Train_Features_Store_Df.head()

,Store,Date,Temperature,Fuel_Price,CPI,Unemployment,IsHoliday,Markdowns,Size,Dept,Weekly_Sales
0,1,2010-02-05,42.31,2.572,211.096358,8.106,False,0.0,151315,1,24924.50
1,1,2010-02-05,42.31,2.572,211.096358,8.106,False,0.0,151315,2,50605.27
2,1,2010-02-05,42.31,2.572,211.096358,8.106,False,0.0,151315,3,13740.12
3,1,2010-02-05,42.31,2.572,211.096358,8.106,False,0.0,151315,4,39954.04
4,1,2010-02-05,42.31,2.572,211.096358,8.106,False,0.0,151315,5,32229.38

In [7]:
Merged_Train_Features_Store_Df.describe()

,Store,Temperature,Fuel_Price,CPI,Unemployment,Markdowns,Size,Dept,Weekly_Sales
count,1.897065e+07,1.897065e+07,1.897065e+07,1.897065e+07,1.897065e+07,1.897065e+07,1.897065e+07,1.897065e+07,1.897065e+07
mean,2.300000e+01,6.061244e+01,3.360214e+00,1.715942e+02,7.996925e+00,6.326346e+03,1.302876e+05,4.426032e+01,1.598126e+04
std,1.298717e+01,1.844159e+01,4.586505e-01,3.935915e+01,1.875471e+00,1.434163e+04,6.311212e+04,3.049202e+01,2.271116e+04
min,1.000000e+00,-2.060000e+00,2.472000e+00,1.260640e+02,3.879000e+00,0.000000e+00,3.487500e+04,1.000000e+00,-4.988940e+03
25%,1.200000e+01,4.735000e+01,2.935000e+00,1.317350e+02,6.891000e+00,0.000000e+00,7.071300e+04,1.800000e+01,2.079640e+03
50%,2.300000e+01,6.262000e+01,3.452000e+00,1.826165e+02,7.874000e+00,0.000000e+00,1.265120e+05,3.700000e+01,7.612030e+03
75%,3.400000e+01,7.488000e+01,3.735000e+00,2.127700e+02,8.622000e+00,7.048810e+03,2.023070e+05,7.400000e+01,2.020586e+04
max,4.500000e+01,1.001400e+02,4.468000e+00,2.272328e+02,1.431300e+01,1.605106e+05,2.196220e+05,9.900000e+01,6.930994e+05

In [6]:
#fix date into two columns one for month and other for year
from pandas import DatetimeIndex
df = Merged_Train_Features_Store_Df
df.Date = pd.to_datetime(df.Date)

In [7]:
df['Year'] = DatetimeIndex(df['Date']).year
df['Month']= DatetimeIndex(df['Date']).month
df['Day'] = DatetimeIndex(df['Date']).day
df = df.drop(columns=['Date'])
df[0::1000]

,Store,Temperature,Fuel_Price,CPI,Unemployment,IsHoliday,Markdowns,Size,Dept,Weekly_Sales,Year,Month,Day
0,1,42.31,2.572,211.096358,8.106,False,0.00,151315,1,24924.50,2010,2,5
1000,1,42.31,2.572,211.096358,8.106,False,0.00,151315,17,11908.60,2010,2,5
2000,1,42.31,2.572,211.096358,8.106,False,0.00,151315,56,359.50,2010,2,5
3000,2,40.19,2.572,210.752605,8.324,False,0.00,202307,49,11501.46,2010,2,5
4000,2,40.19,2.572,210.752605,8.324,False,0.00,202307,90,6171.21,2010,2,5
5000,2,40.19,2.572,210.752605,8.324,False,0.00,202307,40,24022.09,2010,2,5
6000,3,45.71,2.572,214.424881,7.368,False,0.00,37392,19,4891.96,2010,2,5
7000,3,45.71,2.572,214.424881,7.368,False,0.00,37392,40,34870.18,2010,2,5
8000,3,45.71,2.572,214.424881,7.368,False,0.00,37392,18,3218.60,2010,2,5
9000,4,43.76,2.598,126.442065,8.623,False,0.00,205863,85,4311.13,2010,2,5
10000,4,43.76,2.598,126.442065,8.623,False,0.00,205863,18,4803.10,2010,2,5
11000,4,43.76,2.598,126.442065,8.623,False,0.00,205863,85,1230.59,2010,2,5
12000,5,39.70,2.572,211.653972,6.566,False,0.00,34875,36,245.00,2010,2,5
13000,5,39.70,2.572,211.653972,6.566,False,0.00,34875,87,7904.69,2010,2,5
14000,5,39.70,2.572,211.653972,6.566,False,0.00,34875,35,1949.96,2010,2,5
15000,6,40.43,2.572,212.622352,7.259,False,0.00,202505,16,7437.73,2010,2,5
16000,6,40.43,2.572,212.622352,7.259,False,0.00,202505,40,75374.76,2010,2,5
17000,6,40.43,2.572,212.622352,7.259,False,0.00,202505,8,3396.52,2010,2,5
18000,7,10.53,2.580,189.381697,9.014,False,0.00,70713,81,29863.11,2010,2,5
19000,7,10.53,2.580,189.381697,9.014,False,0.00,70713,16,4929.87,2010,2,5
20000,7,10.53,2.580,189.381697,9.014,False,0.00,70713,12,5485.64,2010,2,5
21000,8,34.14,2.572,214.471451,6.299,False,0.00,155078,33,1856.55,2010,2,5
22000,8,34.14,2.572,214.471451,6.299,False,0.00,155078,82,16493.61,2010,2,5
23000,8,34.14,2.572,214.471451,6.299,False,0.00,155078,74,7370.47,2010,2,5
24000,9,38.01,2.572,214.655459,6.415,False,0.00,125833,16,11819.17,2010,2,5
25000,9,38.01,2.572,214.655459,6.415,False,0.00,125833,34,25206.50,2010,2,5
26000,9,38.01,2.572,214.655459,6.415,False,0.00,125833,30,7445.84,2010,2,5
27000,10,54.34,2.962,126.442065,9.765,False,0.00,126512,81,16765.86,2010,2,5
28000,10,54.34,2.962,126.442065,9.765,False,0.00,126512,5,20755.54,2010,2,5
29000,10,54.34,2.962,126.442065,9.765,False,0.00,126512,7,277.00,2010,2,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...
18941000,35,58.99,3.882,142.762411,8.665,False,7637.23,103681,8,37857.64,2012,10,26
18942000,36,74.39,3.494,222.113657,6.228,False,1260.55,39910,55,14159.81,2012,10,26
18943000,36,74.39,3.494,222.113657,6.228,False,1260.55,39910,2,26070.10,2012,10,26
18944000,36,74.39,3.494,222.113657,6.228,False,1260.55,39910,67,5772.09,2012,10,26
18945000,37,74.39,3.506,222.113657,6.228,False,1918.08,39910,19,1046.58,2012,10,26
18946000,37,74.39,3.506,222.113657,6.228,False,1918.08,39910,55,3816.63,2012,10,26
18947000,38,65.95,4.301,131.193097,10.199,False,502.88,39690,24,7106.74,2012,10,26
18948000,38,65.95,4.301,131.193097,10.199,False,502.88,39690,85,1906.98,2012,10,26
18949000,38,65.95,4.301,131.193097,10.199,False,502.88,39690,25,40.00,2012,10,26
18950000,39,72.90,3.506,222.113657,6.228,False,10311.34,184109,90,84064.59,2012,10,26
18951000,39,72.90,3.506,222.113657,6.228,False,10311.34,184109,32,3478.37,2012,10,26
18952000,39,72.90,3.506,222.113657,6.228,False,10311.34,184109,11,10107.07,2012,10,26
18953000,40,49.65,3.917,138.728161,4.145,False,5537.84,155083,34,16047.51,2012,10,26
18954000,40,49.65,3.917,138.728161,4.145,False,5537.84,155083,2,43451.19,2012,10,26
18955000,40,49.65,3.917,138.728161,4.145,False,5537.84,155083,71,3248.08,2012,10,26
18956000,41,41.80,3.686,199.219532,6.195,False,6787.91,196321,3,4730.72,2012,10,26
18957000,41,41.80,3.686,199.219532,6.195,False,6787.91,196321,48,3437.00,2012,10,26
18958000,41,41.80,3.686,199.219532,6.195,False,6787.91,196321,24,4739.54,2012,10,26
18959000,42,70.50,4.301,131.193097,6.943,False,1037.30,39690,54,23.92,2012,10,26
18960000,42,70.50,4.301,131.193097,6.943,False,1037.30,39690,13,43219.77,2012,10,26
18961000,42,70.50,4.301,131.193097,6.943,False,1037.30,39690,92,110741.63,2012,10,26
18962000,43,69.17,3.506,214.741539,8.839,False,851.97,41062,22,18871.34,2012,10,26
18963000,43,69.17,3.506,214.741539,8.839,False,851.97,41062,79,21832.43,2012,10,26
18964000,43,69.17,3.506,214.741539,8.839,False,851.97,41062,83,1440.23,2012,10,26
18965000,44,46.97,3.755,131.193097,5.217,False,499.98,39910,85,1762.15,2012,10,26
18966000,44,46.97,3.755,131.193097,5.217,False,499.98,39910,28,1837.59,2012,10,26
18967000,44,46.97,3.755,131.193097,5.217,False,499.98,39910,33,3946.93,2012,10,26
18968000,45,58.85,3.882,192.308899,8.667,False,5247.26,118221,32,1853.03,2012,10,26
18969000,45,58.85,3.882,192.308899,8.667,False,5247.26,118221,93,32969.90,2012,10,26
18970000,45,58.85,3.882,192.308899,8.667,False,5247.26,118221,2,46016.07,2012,10,26

In [8]:
#creating the feature matrix 
feature_cols = ['Store', 'Temperature','Fuel_Price','CPI','Unemployment', 'Markdowns', 'Size', 'Dept', 'Weekly_Sales', 'Year', 'Month', 'Day']
X = Merged_Train_Features_Store_Df[feature_cols]

In [9]:
#Series of labels
y = Merged_Train_Features_Store_Df['IsHoliday']

y[0::10]

0           False
10          False
20          False
30          False
40          False
50          False
60          False
70          False
80          False
90          False
100         False
110         False
120         False
130         False
140         False
150         False
160         False
170         False
180         False
190         False
200         False
210         False
220         False
230         False
240         False
250         False
260         False
270         False
280         False
290         False
            ...
18970350    False
18970360    False
18970370    False
18970380    False
18970390    False
18970400    False
18970410    False
18970420    False
18970430    False
18970440    False
18970450    False
18970460    False
18970470    False
18970480    False
18970490    False
18970500    False
18970510    False
18970520    False
18970530    False
18970540    False
18970550    False
18970560    False
18970570    False
18970580    False
18970590    False
18970600    False
18970610    False
18970620    False
18970630    False
18970640    False
Name: IsHoliday, Length: 1897065, dtype: bool

In [10]:
Merged_Train_Features_Store_Df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 18970650 entries, 0 to 18970649
Data columns (total 14 columns):
Store           int64
Date            datetime64[ns]
Temperature     float64
Fuel_Price      float64
CPI             float64
Unemployment    float64
IsHoliday       bool
Markdowns       float64
Size            int64
Dept            int64
Weekly_Sales    float64
Year            int64
Month           int64
Day             int64
dtypes: bool(1), datetime64[ns](1), float64(6), int64(6)
memory usage: 2.0 GB

In [11]:
#logreg instantiated as an object of LogisticRegression
logreg = LogisticRegression()

In [12]:
#spliting the dataset, 30% for testing set
X_train, X_test, y_train, y_test = train_test_split(X,y,test_size=0.3, random_state=10)

In [16]:
print(X_train.shape)
print(y_train.shape)


print(X_test.shape)
print(y_test.shape)

(13279455, 12)
(13279455,)
(5691195, 12)
(5691195,)

In [14]:
logreg.fit(X_train, y_train)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
          intercept_scaling=1, max_iter=100, multi_class='ovr', n_jobs=1,
          penalty='l2', random_state=None, solver='liblinear', tol=0.0001,
          verbose=0, warm_start=False)

In [17]:
y_predict_logreg = logreg.predict(X_test)

In [18]:
score_logreg = accuracy_score(y_test, y_predict_logreg)

In [19]:
print(score_logreg)

0.9288511463761125

# Cross-Validation

In [20]:
from sklearn.model_selection import cross_val_score

In [ ]:
#Applying 10-fold CV for logistic Regression 

#creating the feature matrix 
accuracy_list = cross_val_score(logreg, X, y, cv=5, scoring='accuracy')

print(accuracy_list)